<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
  <div class="container">
    <div class="title">
      Login
    </div>
    <form id="form" action="" method="post">
      <div class="form-item">
        <label for="username">Name</label>
        <input type="text" name="username" required>
      </div>
      <div class="form-item">
        <label for="password">Password</label>
        <input type="password" name="password" required>
      </div>
      <button type="submit" id="submit">Login</button>
    </form>
  </div>
</body>

</html>